<!--Homepage-->
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="homeColumn1">
                    <div class="homepageTitle">Welcome to CyberScraper!</div>
                    
                    <p>Articles are stored on the <a href="/unsaved">Scraped Articles</a> page until you click the <b>"Delete Articles"</b> button.
                     This will clear the page to make room for new articles to appear when you click the <b>"Scrape Articles"</b> button. Clicking the <b>"Save Article"</b> button below each article will move that article to the <a href="/saved">Saved Articles</a> page.</p>
                    
                    <p> Saved articles will be saved even when you delete the Scraped Articles. The Saved Articles page will let you comment on the article, delete comments, or remove the saved article from the saved article page.
                    </p>
                </div> 

                <div class="homeColumn2">
                    <p>Cyber Scraper will scrape and collect the latest news articles from the NPR (National Public Radio) News
                        website,
                        <a href="https://www.npr.org/sections/news/" target="blank"> www.NPR.org,</a> and display a Headline,
                        Summary and Link for each article.
                    </p>
                    <div class="scrapingTitle">Start scraping now!</div>
                    <button type="button" class="scrape" id="scrapeBig">Scrape Articles</button>
                </div>
            </div>
        </div>
    </div>
</div>