<!--Homepage-->
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="homeColumn1">
                    <div class="homepageTitle">Welcome to CyberScraper!</div>
                    
                    <p>Articles are stored on the <a href="/unsaved">Scraped Articles</a> page until you click the <b>"Delete Articles"</b> button.This will clear the page to make room for new articles to appear whenever you click the <b>"Scrape Articles"</b> button.</p>
                     
                     <p>Click on the <b>"Save Article"</b> button below each article to move it to the <a href="/saved">Saved Articles</a> page.</p>
                    
                    <p> Saved articles are saved even if you delete the Scraped Articles. On the Saved Article page, you can also comment on an article, delete comments, or remove the article from the page.
                    </p>
                </div> 

                <div class="homeColumn2">
                    <p>Cyber Scraper scrapes the latest tech news from 
                        <a href="https://www.theverge.com/tech" target="blank">The Verge</a> and displays a Headline/Summary,
                        and Link for each article found.
                    </p>
                    <div class="scrapingTitle">Start scraping now!</div>
                    <button type="button" class="scrape" id="scrapeBig">Scrape Articles</button>
                </div>
            </div>
        </div>
    </div>
</div>